CMakeCache.txt
CMakeFiles
Makefile
cmake_install.cmake
install_manifest.txt
build/

#SAMP-Server
/bin/samp-license.txt
/bin/samp-npc.exe
/bin/samp-server.exe
/bin/server.cfg
/bin/server_log.txt
/bin/server-readme.txt
/bin/filterscripts
/bin/include
/bin/npcmodes
/bin/pawno
/bin/plugins
/bin/scriptfiles
/bin/announce.exe

/bin/crashinfo.txt
/bin/samp-server.idb

*.amx